body {
  display: grid;
  justify-content: center;
  font-size: 16px;
  font-family: "Wix Madefor Display", sans-serif;
}
.wrapper {
  border: 1px solid rgb(130, 226, 95);
  margin: 1.5rem;
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
}
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-radius: 10px 10px 0 0;
  color: #3d550c;
}
.heading {
  flex: 4;
  margin-left: 1rem;
}
.main {
  margin: auto;
}

.add-task {
  background-color: #ecf87f;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
}

.btn-add {
  flex: 1;
  border-style: none;
  font-size: 1.4rem;
  padding: 2px 0;
  /* border: 1px solid blue; */
  border-radius: 0 5px 5px 0;
  background-color: #3d550c;
  color: #ecf87f;
  /* transform: translateX(-50%); */
}

.task-input {
  flex: 4;
  padding: 0.2rem 0.75rem;
  font-size: 1.2rem;
}
.task-item button {
  flex: 1;
  border-style: none;
  border: none;
  background-color: transparent;
}
.subheading {
  margin-top: 1rem;
  font-weight: 300;
}
.task-list {
  background-color: #ecf87f;
  padding: 0.5rem;
}
.task-item {
  background-color: #ecf87f;
  list-style: none;
  border: 2px solid #90ee90;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0.2rem 0;
  border-radius: 5px;
}
.task-item:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 177);
}
.task-item li {
  flex: 12;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: #51bb51;
}
.fa-regular {
  color: #51bb51;
  font-size: 1.4rem;
}
.fa-trash-can {
  color: rgba(220, 133, 133, 0.732);
}
.fa-trash-can:hover {
  color: red;
}
.credits {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 2rem;
}
